/* 백준 전용 UI 조각을 구성하는 컴포넌트 파일입니다. */
.code-open-selector-element input[type='radio'] {
    margin: 0;
}

.code-open-selector-element {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}
